trigger: none # Manual only

parameters:
- name: matrix
  displayName: Pool Image and Python Version Matrix
  type: object
  default:

    mac_py311:
      imageName: 'macOS-latest'
      python.version: '3.11'
      browsers: 'chromium firefox'
      browserProjects: '--project=chromium --project=firefox --project=mobile-chrome'
    linux_py311:
      imageName: 'ubuntu-latest'
      python.version: '3.11'
      browsers: 'chromium webkit'
      browserProjects: '--project=chromium --project=webkit --project=mobile-chrome --project=mobile-safari'

- name: runUpdates
  displayName: Select which baseline images to update
  type: string
  default: "all"
  values:
    - all
    - interactive
    - static

stages:
  - stage: UpdateBaselineImages
    displayName: Update Test Baseline Images

    jobs:
      - job: RunPythonTests
        displayName: Run Python Tests
        # Run on macOS and only interactive tests on Linux
        condition: not(and(eq(variables['Agent.OS'], 'Linux'), eq('${{ parameters.runUpdates }}', 'static')))

        strategy:
          matrix: ${{ parameters.matrix }}

        pool:
          vmImage: $(imageName)

        steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '$(python.version)'
          displayName: 'Use Python $(python.version)'

        - script: |
            PIP_CACHE_DIR=$(pip cache dir)
            echo "##vso[task.setvariable variable=PIP_CACHE_DIR]$PIP_CACHE_DIR"
            echo "PIP_CACHE_DIR is: $PIP_CACHE_DIR"
          displayName: 'Set PIP_CACHE_DIR'
          condition: ne(variables['Agent.OS'], 'Windows_NT')

        - powershell: |
            $PIP_CACHE_DIR = $(pip cache dir)
            echo "##vso[task.setvariable variable=PIP_CACHE_DIR]$PIP_CACHE_DIR"
            echo "PIP_CACHE_DIR is: $PIP_CACHE_DIR"
          displayName: 'Set PIP_CACHE_DIR (Windows)'
          condition: eq(variables['Agent.OS'], 'Windows_NT')

        - task: Cache@2
          inputs:
            key: 'pip | "$(Agent.OS)" | "$(python.version)" | "$(Build.SourcesDirectory)/test-requirements.txt" | "$(Build.SourcesDirectory)/setup.cfg"'
            restoreKeys: |
              pip | "$(Agent.OS)" | "$(python.version)" | "$(Build.SourcesDirectory)/test-requirements.txt"
              pip | "$(Agent.OS)" | "$(python.version)"
            path: $(PIP_CACHE_DIR)
            cacheHitVar: CACHE_RESTORED
          displayName: 'Cache pip dependencies'

        - script: |
            python -m pip install --upgrade pip wheel
          displayName: 'Upgrade pip'
          condition: ne(variables.CACHE_RESTORED, 'true')

        - script: |
            pip install -r test-requirements.txt
          displayName: 'Install pip dependencies'
          condition: ne(variables.CACHE_RESTORED, 'true')

        - script: |
            pip install -e .
          displayName: 'Install local package'

        # Static tests only (macOS)
        - script: |
            export CI=true
            pytest datamapplot/tests --mpl --mpl-generate-path=datamapplot/tests/baseline -m static
          displayName: 'Run python mpl tests to generate new static baseline'
          condition: and(eq(variables['Agent.OS'], 'Darwin'), eq('${{ parameters.runUpdates }}', 'static'))

        # Static and interactive tests (macOS)
        - script: |
            export CI=true
            pytest datamapplot/tests --mpl --mpl-generate-path=datamapplot/tests/baseline -m "static or interactive"
          displayName: 'Run python tests to generate static baseline and interactive html'
          condition: and(eq(variables['Agent.OS'], 'Darwin'), eq('${{ parameters.runUpdates }}', 'all'))

        # Interactive tests only (macOS)
        - script: |
            export CI=true
            pytest datamapplot/tests -m interactive
          displayName: 'Run python tests to generate interactive html'
          condition: and(eq(variables['Agent.OS'], 'Darwin'), eq('${{ parameters.runUpdates }}', 'interactive'))

        # Interactive tests only (linux)
        - script: |
            export CI=true
            pytest datamapplot/tests -m interactive
          displayName: 'Run python tests to generate interactive html'
          condition: ne(variables['Agent.OS'], 'Darwin')


        - task: CopyFiles@2
          inputs:
            SourceFolder: '$(Build.SourcesDirectory)/datamapplot/tests/baseline'
            Contents: '*.png'
            TargetFolder: '$(Build.ArtifactStagingDirectory)/mpl-screenshots'
          displayName: 'Copy updated mpl screenshots (Darwin)'
          condition: and(eq(variables['Agent.OS'], 'Darwin'), ne('${{ parameters.runUpdates }}', 'interactive'))

        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(Build.ArtifactStagingDirectory)/mpl-screenshots'
            artifact: 'updated-mpl-screenshots'
          displayName: 'Publish updated pytest mpl screenshots'
          condition: and(eq(variables['Agent.OS'], 'Darwin'), ne('${{ parameters.runUpdates }}', 'interactive'))

        # Publish the html files for use in the next job
        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(Build.SourcesDirectory)/datamapplot/tests/html'
            artifact: 'interactive-html-$(Agent.OS)'
            publishLocation: 'pipeline'
          condition: ne('${{ parameters.runUpdates }}', 'static')

      - job: RunPlaywrightTests
        displayName: Run Interactive Tests
        dependsOn: RunPythonTests
        timeoutInMinutes: 360 # max timeout
        condition: ne('${{ parameters.runUpdates }}', 'static')

        strategy:
          matrix: ${{ parameters.matrix }}

        pool:
          vmImage: $(imageName)

        steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '$(python.version)'
          displayName: 'Use Python $(python.version)'

        - task: DownloadPipelineArtifact@2
          inputs:
            artifactName: 'interactive-html-$(Agent.OS)'
            targetPath: '$(Build.SourcesDirectory)/datamapplot/tests/html'

        # Check if the HTML directory exists and artifacts were downloaded
        - script: |
            echo "Listing contents of $(Build.SourcesDirectory)/datamapplot/tests/html:"
            ls -l $(Build.SourcesDirectory)/datamapplot/tests/html
          displayName: 'List contents of HTML directory'
          condition: always()

        - script: |
            python -m http.server 8000 -d $(Build.SourcesDirectory)/datamapplot/tests/html &
          displayName: 'Start HTTP server (Unix)'
          condition: ne(variables['Agent.OS'], 'Windows_NT')

        - powershell: |
            $serverJob = Start-Process python -ArgumentList "-m", "http.server", "8000", "-d", "$env:BUILD_SOURCESDIRECTORY\datamapplot\tests\html" -PassThru -NoNewWindow
            Start-Sleep -Seconds 5
            $retry = 0
            do {
                try {
                    $response = Invoke-WebRequest -Uri "http://localhost:8000" -Method Head
                    Write-Host "Server started successfully"
                    break
                } catch {
                    Write-Host "Waiting for server to start... Attempt $retry"
                    Start-Sleep -Seconds 2
                    $retry++
                }
            } while ($retry -lt 5)

            if ($retry -eq 5) {
                Write-Error "Server failed to start after multiple attempts"
                exit 1
            }
          displayName: 'Start HTTP server (Windows)'
          condition: eq(variables['Agent.OS'], 'Windows_NT')


        - task: NodeTool@0
          inputs:
            versionSpec: '22'
          displayName: 'Use Node.js for frontend tests'

        - script: |
            npm ci
          displayName: 'Install npm dependencies'
          workingDirectory: '$(Build.SourcesDirectory)/datamapplot/interactive_tests'

        - script: |
            npx playwright install --with-deps
          displayName: 'Install default Playwright browsers'
          workingDirectory: '$(Build.SourcesDirectory)/datamapplot/interactive_tests'

        - script: |
            npx playwright install --with-deps $(browsers)
          displayName: 'Install extra browsers (if needed)'
          workingDirectory: '$(Build.SourcesDirectory)/datamapplot/interactive_tests'

        - powershell: |
            Get-ChildItem -Path "$(Build.SourcesDirectory)/datamapplot/interactive_tests/tests" -Directory |
            ForEach-Object {
                Get-ChildItem -Path $_.FullName -Recurse -File | Remove-Item -Force
            }
          displayName: 'Clean subdirectory files (Windows)'
          condition: eq(variables['Agent.OS'], 'Windows_NT')

        - script: |
            find "$(Build.SourcesDirectory)/datamapplot/interactive_tests/tests" -mindepth 2 -type f -delete
          displayName: 'Clean subdirectory files (Darwin/Linux)'
          condition: ne(variables['Agent.OS'], 'Windows_NT')

        - script: |
            npx playwright test --update-snapshots $(browserProjects) --grep-invert @nobaseline
          displayName: 'Update Playwright snapshots'
          workingDirectory: '$(Build.SourcesDirectory)/datamapplot/interactive_tests'
          env:
            CI: 'true'

        - powershell: |
            $targetFolder = '$(Build.ArtifactStagingDirectory)/filtered-screenshots'
            if (-Not (Test-Path -Path $targetFolder)) {
                New-Item -ItemType Directory -Path $targetFolder
            }
          displayName: 'Ensure filtered-screenshots directory exists (Windows)'
          condition: eq(variables['Agent.OS'], 'Windows_NT')

        - script: |
            targetFolder='$(Build.ArtifactStagingDirectory)/filtered-screenshots'
            mkdir -p $targetFolder
          displayName: 'Ensure filtered-screenshots directory exists (Darwin/Linux)'
          condition: ne(variables['Agent.OS'], 'Windows_NT')

        - task: CopyFiles@2
          inputs:
            SourceFolder: '$(Build.SourcesDirectory)/datamapplot/interactive_tests/tests'
            Contents: '**/*-win32.png'
            TargetFolder: '$(Build.ArtifactStagingDirectory)/filtered-screenshots'
          displayName: 'Copy filtered screenshots (Windows)'
          condition: eq(variables['Agent.OS'], 'Windows_NT')

        - task: CopyFiles@2
          inputs:
            SourceFolder: '$(Build.SourcesDirectory)/datamapplot/interactive_tests/tests'
            Contents: '**/*-darwin.png'
            TargetFolder: '$(Build.ArtifactStagingDirectory)/filtered-screenshots'
          displayName: 'Copy filtered screenshots (Darwin)'
          condition: eq(variables['Agent.OS'], 'Darwin')

        - task: CopyFiles@2
          inputs:
            SourceFolder: '$(Build.SourcesDirectory)/datamapplot/interactive_tests/tests'
            Contents: '**/*-linux.png'
            TargetFolder: '$(Build.ArtifactStagingDirectory)/filtered-screenshots'
          displayName: 'Copy filtered screenshots (Linux)'
          condition: eq(variables['Agent.OS'], 'Linux')

        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(Build.ArtifactStagingDirectory)/filtered-screenshots'
            artifact: 'updated-playwright-screenshots-$(Agent.OS)'
          displayName: 'Publish updated playwright screenshots'
          condition: always()

        - task: PublishTestResults@2
          displayName: 'Publish test results'
          inputs:
            searchFolder: 'test-results'
            testResultsFormat: 'JUnit'
            testResultsFiles: 'e2e-junit-results.xml'
            mergeTestResults: true
            failTaskOnFailedTests: true
            testRunTitle: 'Playwright Test Results'
          condition: succeededOrFailed()