<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>{{title}}</title>

    {%- if google_font %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family={{google_font}}&display=swap"
      rel="stylesheet"
    />
    {%- if google_tooltip_font %}
    <link
      href="https://fonts.googleapis.com/css2?family={{google_tooltip_font}}&display=swap"
      rel="stylesheet"
    />
    {%- endif -%} 
    {%- endif %}
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      rel="stylesheet"
    />

    {% for url in js_dependency_urls -%}
    <script src="{{ url }}"></script>
    {% endfor -%}

    {% for _, css_src in css_dependency_srcs.items() -%}
    <style>
      {{ css_src | safe }}
    </style>
    {%- endfor %}
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: {{page_background_color}};
      }
      #deck-container {
        width: 100vw;
        height: 100vh;
      }
      #deck-container canvas {
        z-index: 1;
        background: {{page_background_color}};
      }
      .deck-tooltip {
          {{tooltip_css}}
      }
      #loading {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: absolute;
        display: block;
        z-index: 99
      }
      #loading-image {
        position: absolute;
        top: 45%;
        left: 47.5%;
        z-index: 100
      }
      #title-container {
        position: absolute;
        top: 0;
        left: 0;
        margin: 16px;
        padding: 12px;
        border-radius: 16px;
        line-height: 0.95;
        z-index: 2;
        font-family: {{title_font_family}};
        color: {{title_font_color}};
        background: {{title_background}};
        box-shadow: 2px 3px 10px {{shadow_color}};
      }

      {%- if logo %}
      #logo-container {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 16px;
        padding: 12px;
        border-radius: 16px;
        z-index: 2;
        background: {{title_background}};
        box-shadow: 2px 3px 10px {{shadow_color}};
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      {%- endif %}

      {%- if search %}
      #search-container{
        position: absolute;
        left: -16px;
        margin: 16px;
        padding: 12px;
        border-radius: 16px;
        z-index: 2;
        font-family: {{font_family}};
        color: {{title_font_color}};
        background: {{title_background}};
        width: fit-content;
        box-shadow: 2px 3px 10px {{shadow_color}};
      }
      input {
        margin: 2px;
        padding: 4px;
        border-radius: 8px;
        color: {{title_font_color}};
        background: {{input_background}};
        border: 1px solid {{input_border}};
        transition: 0.5s;
        outline: none;
      }
      input:focus {
        border: 2px solid #555;
      }
      {%- endif %}

      {%- if enable_histogram %}
      #d3histogram-container {
        background: {{ title_background }};
        color: {{ title_font_color }};
        font-family: {{ title_font_family }};
        box-shadow: 2px 3px 10px {{ shadow_color }};
      }
      {%- endif %}

      {%- if custom_css %}
      {{custom_css}}
      {%- endif %}
    </style>
  </head>
  <body>
    <div id="loading">
      <img
        id="loading-image"
        src="https://i.gifer.com/ZKZg.gif"
        alt="Loading..."
        width="5%"
      />
    </div>

    {% if use_title %}
    <div id="title-container">
      <span
        style="font-family:{{title_font_family}};font-size:{{title_font_size}}pt;color:{{title_font_color}}"
      >
        {{title}}
      </span>
      <br />
      <span
        style="font-family:{{title_font_family}};font-size:{{sub_title_font_size}}pt;color:{{sub_title_font_color}}"
      >
        {{sub_title}}
      </span>

      {% if search %}
      <div id="search-container">
        <input autocomplete="off" type="search" id="search" placeholder="🔍" />
      </div>
      {% endif %}
    </div>
    {% elif search %}
    <div id="search-container" style="left: 0 !important">
      <input autocomplete="off" type="search" id="search" placeholder="🔍" />
    </div>
    {% endif %} {% if logo %}
    <div id="logo-container">
      <img src="{{logo}}" style="width:{{logo_width}}px" />
    </div>
    {% endif %}

    <div id="deck-container"></div>

    {%- if enable_histogram %}
    <div id="d3histogram-container"></div>
    {%- endif -%}

    {% if custom_html %} {{custom_html}} {%- endif -%}
  </body>
  {%- for _, js_src in js_dependency_srcs.items() %}
  <script>
    {{ js_src | safe }}
  </script>
  {%- endfor %}
  <script type="module">
    import { ArrowLoader } from 'https://cdn.jsdelivr.net/npm/@loaders.gl/arrow@4.1.0-alpha.10/+esm'
    {%- if not inline_data %}
    import { ZipLoader } from 'https://cdn.jsdelivr.net/npm/@loaders.gl/zip@4.1.0-alpha.10/+esm'
    {% endif %}

    // Correctly convert between Base64 strings and Uint8Arrays.
    // https://developer.mozilla.org/docs/Glossary/Base64#the_unicode_problem
    function base64ToBytes(base64) {
      return Uint8Array.from(atob(base64), (m) => m.codePointAt(0));
    }

    if (!("CompressionStream" in window)) {
      throw new Error(
        "Your browser doesn't support the Compression Streams API " +
          "https://developer.mozilla.org/docs/Web/API/Compression_Streams_API#browser_compatibility",
      );
    }
    // Use the Compression Streams API.
    // https://developer.mozilla.org/docs/Web/API/Compression_Streams_API
    async function DecompressBytes(bytes) {
      const blob = new Blob([bytes]);
      const decompressedStream = blob.stream().pipeThrough(
        new DecompressionStream("gzip")
      );
      const arr = await new Response(decompressedStream).arrayBuffer()
      return new Uint8Array(arr);
    }

    {% if inline_data %}
    const pointDataBase64 = {{base64_point_data|safe}};
    const pointDataBuffer = pointDataBase64.map(base64Data => base64ToBytes(base64Data));
    const pointData = await Promise.all(pointDataBuffer.map(buffer => loaders.parse(buffer, ArrowLoader)));
    const hoverDataBase64 = {{base64_hover_data|safe}};
    const hoverDataBuffer = hoverDataBase64.map(base64Data => base64ToBytes(base64Data));
    const unzippedHoverData = hoverDataBuffer.map(buffer => DecompressBytes(buffer));
    const hoverData = await Promise.all(unzippedHoverData.map(zippedData => loaders.parse(zippedData, ArrowLoader)));
    const labelDataBase64 = "{{base64_label_data}}";
    const labelDataBuffer = base64ToBytes(labelDataBase64);
    const unzippedLabelData = await DecompressBytes(labelDataBuffer);
    const labelData = JSON.parse(new TextDecoder("utf-8").decode(unzippedLabelData));
    {% else %}
    const pointData = await loaders.load("{{file_prefix}}_point_df.arrow", ArrowLoader);
    const unzippedHoverData = await loaders.load("{{file_prefix}}_point_hover_data.zip", ZipLoader);
    const hoverData = await loaders.parse(unzippedHoverData["point_hover_data.arrow"], ArrowLoader);
    const unzippedLabelData = await loaders.load("{{file_prefix}}_label_data.zip", ZipLoader);
    const labelData = JSON.parse(new TextDecoder("utf-8").decode(unzippedLabelData["label_data.json"]));
    {% endif -%}

    const dataSelectionManager = {% if search or enable_histogram %} new DataSelectionManager() {% else %} null {% endif %};
    const searchItemId = "search";
    const histogramItemId = "d3histogram-container";
    const searchItem = document.getElementById(searchItemId);
    let histogramItem = null;
    
    {%- if search %}
    const textPartitions = hoverData.map(data => data.data.hover_text.map((d) => d.toLowerCase()));
    const selectedVectors = pointData.map(chunk => new Uint8Array(chunk.data.x.length).fill(1));
    let updateTriggerCounter = new Uint32Array(pointData.length).fill(0);
    {% endif %}

    const container = document.getElementById('deck-container');
    const labelLayer = new deck.TextLayer({
      id: "textLabelLayer",
      data: labelData,
      pickable: false,
      getPosition: d => [d.x, d.y],
      getText: d => d.label,
      getColor: {{label_text_color}},
      getSize: d => d.size,
      sizeScale: 1,
      sizeMinPixels: {{text_min_pixel_size}},
      sizeMaxPixels: {{text_max_pixel_size}},
      outlineWidth: {{text_outline_width}},
      outlineColor: {{text_outline_color}},
      getBackgroundColor: {{text_background_color}},
      getBackgroundPadding: [15, 15, 15, 15],
      background: true,
      characterSet: "auto",
      fontFamily: "{{font_family}}",
      fontWeight: {{font_weight}},
      lineHeight: {{line_spacing}},
      fontSettings: {"sdf": true},
      getTextAnchor: "middle",
      getAlignmentBaseline: "center",
      lineHeight: 0.95,
      elevation: 100,
      // CollideExtension options
      collisionEnabled: true,
      getCollisionPriority: d => d.size,
      collisionTestProps: {
        sizeScale: {{text_collision_size_scale}},
        sizeMaxPixels: {{text_max_pixel_size}} * 2,
        sizeMinPixels: {{text_min_pixel_size}} * 2
      },
      extensions: [new deck.CollisionFilterExtension()],
    });

    {%- if cluster_boundary_polygons %}
    const boundaryLayer = new deck.PolygonLayer({
      data: labelData,
      stroked: true,
      filled: false,
      getLineColor: d => [d.r, d.g, d.b, d.a],
      getPolygon: d => d.polygon,
      lineWidthUnits: "common",
      getLineWidth: d => d.size * d.size,
      lineWidthScale: {{cluster_boundary_line_width}} * 5e-5,
      lineJointRounded: true,
      lineWidthMaxPixels: 4,
      lineWidthMinPixels: 0.0,
    });
    {% endif -%}

    document.getElementById("loading").style.display = "none";

    const pointLayers = pointData.map((dataChunk, chunkIndex) => {
      const positions = new Float32Array(dataChunk.data.x.length * 2);
      const colors = new Uint8Array(dataChunk.data.x.length * 4);

      // Populate the arrays
      for (let i = 0; i < dataChunk.data.x.length; i++) {
        positions[i * 2] = dataChunk.data.x[i];
        positions[i * 2 + 1] = dataChunk.data.y[i];
        colors[i * 4] = dataChunk.data.r[i];
        colors[i * 4 + 1] = dataChunk.data.g[i];
        colors[i * 4 + 2] = dataChunk.data.b[i];
        colors[i * 4 + 3] = dataChunk.data.a[i];
      }
      return new deck.ScatterplotLayer({
        id: `dataPointLayer-${chunkIndex}`,
        data: {
          length: dataChunk.data.x.length,
          attributes: {
            getPosition: {value: positions, size: 2},
            getFillColor: {value: colors, size: 4},
            {%- if point_size < 0 %}
            getRadius: {value: dataChunk.data.size, size: 1},
            {% endif %}
            getFilterValue: {value: selectedVectors[chunkIndex], size: 1}
          }
        },
        {%- if point_size >= 0 %}
        getRadius: {{point_size}},
        {% endif -%}
        getLineColor: {{point_outline_color}},
        getLineWidth: {{point_line_width}},
        highlightColor: {{point_hover_color}},
        lineWidthMaxPixels: {{point_line_width_max_pixels}},
        lineWidthMinPixels: {{point_line_width_min_pixels}},
        radiusMaxPixels: {{point_radius_max_pixels}},
        radiusMinPixels: {{point_radius_min_pixels}},
        radiusUnits: "common",
        lineWidthUnits: "common",
        autoHighlight: true,
        pickable: true,
        stroked: true,
        extensions: [new deck.DataFilterExtension({ filterSize: 1 })],
        filterRange: [1, 1],
        updateTriggers: {
            getFilterValue: updateTriggerCounter[chunkIndex]
        },
        instanceCount: dataChunk.data.x.length,
    })});

    const deckgl = new deck.DeckGL({
      container: container,
      initialViewState: {
        latitude: {{data_center_y}},
        longitude: {{data_center_x}},
        zoom: {{zoom_level}}
      },
      controller: true,
      {%- if cluster_boundary_polygons %}
      layers: [...pointLayers, boundaryLayer, labelLayer],
      {%- else %}
      layers: [...pointLayers, labelLayer],
      {% endif %}
      {%- if on_click %}
      onClick: {{on_click}},
      {% endif %}
      getTooltip: {{get_tooltip}}
    });

    {% if search %}
    /* Search */
    // Blob for search worker
    const searchWorkerBlob = new Blob([`
        self.onmessage = function(event) {
            const { searchTerm, textPartition } = event.data;
            const results = textPartition.reduce((acc, str, index) => {
                if (str.indexOf(searchTerm) >= 0) {
                    acc.push(index);
                }
                return acc;
            }, []);
            self.postMessage(results);
        };
    `], { type: 'application/javascript' });

    const searchWorkers = Array.from({ length: pointData.length }, () => new Worker(URL.createObjectURL(searchWorkerBlob)));

    function debounce(func, timeout = 300){
        let timer;
        return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => { func.apply(this, args); }, timeout);
        };
    }
    // Handle input event for search
    searchItem.addEventListener('input', debounce(function(event) {
        const searchTerm = event.target.value;
        dataSelectionManager.removeSelectedIndicesOfItem(searchItemId);
        if (searchTerm.length > 0) {
            // Send search request to each worker for its text partition
            searchWorkers.forEach((worker, i) => {
                worker.postMessage({
                    searchTerm: searchTerm,
                    textPartition: textPartitions[i]
                });

                worker.onmessage = function(e) {
                    updateSelectedVector(e.data, i);
                };
            });
        } else {
            // Reset filters if search is empty
            selectedVectors.forEach(vector => vector.fill(1));  // Reset all selected vectors
            updateLayers();
            if (histogramItem) {
              histogramItem.removeChartWithSelection();
            }
        }
    }));

    let chunksSearched = 0;

    function updateSelectedVector(results, chunkIndex) {
        const selectedVector = selectedVectors[chunkIndex];
        selectedVector.fill(0);  // Reset the selected vector
        const chunkSize = pointData[0].data.x.length;
        dataSelectionManager.addOrUpdateSelectedIndicesOfItem(results.map(x => x + chunkIndex * chunkSize), searchItemId, false);
        results.forEach(index => selectedVector[index] = 1);  // Set selected indices to 1
        updateLayers();
        if (histogramItem) {
          chunksSearched++;
          if (chunksSearched === pointData.length) {
            chunksSearched = 0;
            const selectedIndices = dataSelectionManager.getSelectedIndices();
            if (selectedIndices.size > 0) {
              debounce(histogramItem.drawChartWithSelection(selectedIndices), 250);
            } else {
              histogramItem.removeChartWithSelection();
            }
          }
        }
    }

    function updateLayers() {
        const layers = pointData.map((dataPartition, chunkIndex) => {
            const existingLayer = deckgl.props.layers.find(layer => layer.id === `dataPointLayer-${chunkIndex}`);
            updateTriggerCounter[chunkIndex]++;  // Increment the update trigger counter
            // Clone the existing layer and update the filter
            const layer = existingLayer ? existingLayer.clone({
                data: {
                  ...existingLayer.props.data,
                  attributes: {
                    ...existingLayer.props.data.attributes,
                    getFilterValue: {value: selectedVectors[chunkIndex], size: 1}
                  }
                },
                updateTriggers: {
                    getFilterValue: updateTriggerCounter[chunkIndex]  // Trigger update when selected vector changes
                },
            }) : null;

            return layer;
        });

        deckgl.setProps({ layers: [...layers, boundaryLayer, labelLayer] });
    }
    {% endif -%}

    {% if enable_histogram %}
    /*Histogram*/
    function selectPoints() {
      const selectedIndices = dataSelectionManager.getSelectedIndices();
      const hasSelectedIndices = selectedIndices.size !== 0;
      const chunkSize = pointData[0].data.x.length;
      if (hasSelectedIndices) {
        selectedVectors.forEach(selected => selected.fill(0));
        selectedIndices.forEach(index => selectedVectors[(index/chunkSize)>>0][index % chunkSize] = 1);
      } else {
        selectedVectors.forEach(selected => selected.fill(1));
      }
      updateLayers();
    }
    const chartSelectionCallback = chartSelectedIndices => {
      // Update data manager
      if (chartSelectedIndices === null) {
        dataSelectionManager.removeSelectedIndicesOfItem(histogramItemId);
      } else {
        dataSelectionManager.addOrUpdateSelectedIndicesOfItem(chartSelectedIndices, histogramItemId, true);
      }

      // Update datamap plot
      selectPoints();
    };

    histogramItem = D3Histogram.create({
      data: pointData.reduce((acc, chunk, index) => acc.concat(chunk.data["{{ histogram_data_attr }}"]), []),
      chartContainerId: histogramItemId,
      {%- if histogram_width %}
      chartWidth: {{ histogram_width }},
      {%- endif %}
      {%- if histogram_height %}
      chartHeight: {{ histogram_height }},
      {%- endif %}
      {%- if histogram_bin_count %}
      binCount: {{ histogram_bin_count }},
      {%- endif %}
      {%- if histogram_title %}
      title: "{{ histogram_title }}",
      {%- endif %}
      {%- if histogram_bin_fill_color %}
      binDefaultFillColor: "{{ histogram_bin_fill_color }}",
      {%- endif %}
      {%- if histogram_bin_selected_fill_color %}
      binSelectedFillColor: "{{ histogram_bin_selected_fill_color }}",
      {%- endif %}
      {%- if histogram_bin_unselected_fill_color %}
      binUnselectedFillColor: "{{ histogram_bin_unselected_fill_color }}",
      {%- endif %}
      {%- if histogram_bin_context_fill_color %}
      binContextFillColor: "{{ histogram_bin_context_fill_color }}",
      {%- endif %}
      chartSelectionCallback
    });
    {% endif -%}

    {% if custom_js %}
    {{ custom_js }}
    {% endif -%}
  </script>
</html>
