<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>{{title}}</title>

    {%- if google_font %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family={{google_font}}&display=swap"
      rel="stylesheet"
    />
    {%- if google_tooltip_font %}
    <link
      href="https://fonts.googleapis.com/css2?family={{google_tooltip_font}}&display=swap"
      rel="stylesheet"
    />
    {%- endif -%} 
    {%- endif %}
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      rel="stylesheet"
    />

    {% for url in js_dependency_urls -%}
    <script src="{{ url }}"></script>
    {% endfor -%}

    {% for _, css_src in css_dependency_srcs.items() -%}
    <style>
      {{ css_src | safe }}
    </style>
    {%- endfor %}
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: {{page_background_color}};
      }
      #deck-container {
        width: 100vw;
        height: 100vh;
      }
      #deck-container canvas {
        z-index: 1;
        background: {{page_background_color}};
      }
      .deck-tooltip {
          {{tooltip_css}}
      }
      #loading {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: absolute;
        display: block;
        z-index: 99
      }
      #loading-image {
        position: absolute;
        top: 45%;
        left: 47.5%;
        z-index: 100
      }
      #title-container {
        position: absolute;
        top: 0;
        left: 0;
        margin: 16px;
        padding: 12px;
        border-radius: 16px;
        line-height: 0.95;
        z-index: 2;
        font-family: {{title_font_family}};
        color: {{title_font_color}};
        background: {{title_background}};
        box-shadow: 2px 3px 10px {{shadow_color}};
      }

      {%- if logo %}
      #logo-container {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 16px;
        padding: 12px;
        border-radius: 16px;
        z-index: 2;
        background: {{title_background}};
        box-shadow: 2px 3px 10px {{shadow_color}};
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      {%- endif %}

      {%- if search %}
      #search-container{
        position: absolute;
        left: -16px;
        margin: 16px;
        padding: 12px;
        border-radius: 16px;
        z-index: 2;
        font-family: {{font_family}};
        color: {{title_font_color}};
        background: {{title_background}};
        width: fit-content;
        box-shadow: 2px 3px 10px {{shadow_color}};
      }
      input {
        margin: 2px;
        padding: 4px;
        border-radius: 8px;
        color: {{title_font_color}};
        background: {{input_background}};
        border: 1px solid {{input_border}};
        transition: 0.5s;
        outline: none;
      }
      input:focus {
        border: 2px solid #555;
      }
      {%- endif %}

      {%- if enable_histogram %}
      #d3histogram-container {
        background: {{ title_background }};
        color: {{ title_font_color }};
        font-family: {{ title_font_family }};
        box-shadow: 2px 3px 10px {{ shadow_color }};
      }
      {%- endif %}

      {%- if custom_css %}
      {{custom_css}}
      {%- endif %}
    </style>
  </head>
  <body>
    <div id="loading">
      <img
        id="loading-image"
        src="https://i.gifer.com/ZKZg.gif"
        alt="Loading..."
        width="5%"
      />
    </div>

    {% if use_title %}
    <div id="title-container">
      <span
        style="font-family:{{title_font_family}};font-size:{{title_font_size}}pt;color:{{title_font_color}}"
      >
        {{title}}
      </span>
      <br />
      <span
        style="font-family:{{title_font_family}};font-size:{{sub_title_font_size}}pt;color:{{sub_title_font_color}}"
      >
        {{sub_title}}
      </span>

      {% if search %}
      <div id="search-container">
        <input autocomplete="off" type="search" id="search" placeholder="🔍" />
      </div>
      {% endif %}
    </div>
    {% elif search %}
    <div id="search-container" style="left: 0 !important">
      <input autocomplete="off" type="search" id="search" placeholder="🔍" />
    </div>
    {% endif %} {% if logo %}
    <div id="logo-container">
      <img src="{{logo}}" style="width:{{logo_width}}px" />
    </div>
    {% endif %}

    <div id="deck-container"></div>

    {%- if enable_histogram %}
    <div id="d3histogram-container"></div>
    {%- endif -%}

    {% if custom_html %} {{custom_html}} {%- endif -%}
  </body>
  {%- for _, js_src in js_dependency_srcs.items() %}
  <script>
    {{ js_src | safe }}
  </script>
  {%- endfor %}
  <script type="module">
    async function simpleArrowParser(arrow_bytes) {
      const table = await Arrow.tableFromIPC(arrow_bytes);
      const result = {};
      table.schema.fields.forEach((field) => {
        result[field.name] = table.getChild(field.name).toArray();
      });
      return result;
    }

    {% if inline_data %}
    // Correctly convert between Base64 strings and Uint8Arrays.
    // https://developer.mozilla.org/docs/Glossary/Base64#the_unicode_problem
    async function base64ToBytes(base64) {
      return Uint8Array.from(atob(base64), (m) => m.codePointAt(0));
    }

    if (!("CompressionStream" in window)) {
      throw new Error(
        "Your browser doesn't support the Compression Streams API " +
          "https://developer.mozilla.org/docs/Web/API/Compression_Streams_API#browser_compatibility",
      );
    }
    // Use the Compression Streams API.
    // https://developer.mozilla.org/docs/Web/API/Compression_Streams_API
    async function DecompressBytes(bytes) {
      const blob = new Blob([bytes]);
      const decompressedStream = blob.stream().pipeThrough(
        new DecompressionStream("gzip")
      );
      const arr = await new Response(decompressedStream).arrayBuffer()
      return new Uint8Array(arr);
    }

    const pointDataBase64 = "{{base64_point_data}}";
    const pointData = await base64ToBytes(pointDataBase64)
      .then(buffer => simpleArrowParser(buffer));
    const hoverDataBase64 = "{{base64_hover_data}}";
    const hoverData = await base64ToBytes(hoverDataBase64)
      .then(buffer => DecompressBytes(buffer))
      .then(buffer => simpleArrowParser(buffer));
    const labelDataBase64 = "{{base64_label_data}}";
    const labelData = await base64ToBytes(labelDataBase64)
      .then(buffer => DecompressBytes(buffer))
      .then(buffer => JSON.parse(new TextDecoder("utf-8").decode(buffer)));
    {% else %}
    async function decompressFile(filename) {
      try {
        const response = await fetch(filename);
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        const reader = response.body
          .pipeThrough(new DecompressionStream("gzip"))
          .getReader();

        let chunks = [];
        let totalSize = 0;

        while (true) {
          const { done, value } = await reader.read();
          if (done) {
            break;
          }
          chunks.push(value);
          totalSize += value.length;
        }

        // Concatenate chunks into a single Uint8Array
        const decompressedData = new Uint8Array(totalSize);
        let position = 0;
        for (const chunk of chunks) {
          decompressedData.set(chunk, position);
          position += chunk.length;
        }

        return decompressedData;
      } catch (error) {
        console.error('Decompression failed:', error);
        throw error;
      }
    }

    const pointData = await fetch("{{file_prefix}}_point_df.arrow")
      .then((response) => response.arrayBuffer())
      .then((buffer) => simpleArrowParser(buffer));
    const hoverData = await decompressFile("{{file_prefix}}_point_hover_data.zip")
      .then(unzippedHoverData => simpleArrowParser(unzippedHoverData));
    const labelData = await decompressFile("{{file_prefix}}_label_data.zip")
      .then(unzippedLabelData => JSON.parse(new TextDecoder("utf-8").decode(unzippedLabelData)));
    {% endif -%}

    // Assume DATA is your original data structure
    const numPoints = pointData.x.length;
    const positions = new Float32Array(numPoints * 2);
    const colors = new Uint8Array(numPoints * 4);
    const sizes = new Float32Array(numPoints);
    const selected = new Float32Array(numPoints).fill(1.0);

    // Populate the arrays
    for (let i = 0; i < numPoints; i++) {
      positions[i * 2] = pointData.x[i];
      positions[i * 2 + 1] = pointData.y[i];
      colors[i * 4] = pointData.r[i];
      colors[i * 4 + 1] = pointData.g[i];
      colors[i * 4 + 2] = pointData.b[i];
      colors[i * 4 + 3] = pointData.a[i];
      {%- if point_size < 0 %}
      sizes[i] = pointData.size[i];
      {% endif %}
    }

    const searchItemId = "search";
    const histogramItemId = "d3histogram-container";
    const selectionItemId = "lasso-select";
    const dataSelectionManager = {% if search or enable_histogram or enable_lasso_selection %} new DataSelectionManager(selectionItemId) {% else %} null {% endif %};
    const searchItem = document.getElementById(searchItemId);
    let histogramItem = null;
    
    const container = document.getElementById('deck-container');
    const pointLayer = new deck.ScatterplotLayer({
      id: 'dataPointLayer',
      data: {
        length: numPoints,
        attributes: {
          getPosition: {value: positions, size: 2},
          getFillColor: {value: colors, size: 4},
          // getLineColor: {value: colors, size: 4},
          {%- if point_size < 0 %}
          getRadius: {value: sizes, size: 1},
          {% endif %}
          getFilterValue: {value: selected, size: 1}
        }
      },

      {% if point_size >= 0 %}
      getRadius: {{point_size}},
      {% endif %}
      getLineColor: {{point_outline_color}},
      getLineWidth: {{point_line_width}},
      highlightColor: {{point_hover_color}},
      lineWidthMaxPixels: {{point_line_width_max_pixels}},
      lineWidthMinPixels: {{point_line_width_min_pixels}},
      radiusMaxPixels: {{point_radius_max_pixels}},
      radiusMinPixels: {{point_radius_min_pixels}},
      radiusUnits: "common",
      lineWidthUnits: "common",
      autoHighlight: true,
      pickable: true,
      stroked: true,
      extensions: [new deck.DataFilterExtension({filterSize: 1})],
      filterRange: [-0.5, 1.5],
      filterSoftRange: [0.75, 1.25],
      updateTriggers: {
        getFilterValue: 0  // We'll increment this to trigger updates
      },
      instanceCount: numPoints,
    });

    const labelLayer = new deck.TextLayer({
      id: "textLabelLayer",
      data: labelData,
      pickable: false,
      getPosition: d => [d.x, d.y],
      getText: d => d.label,
      getColor: {{label_text_color}},
      getSize: d => d.size,
      sizeScale: 1,
      sizeMinPixels: {{text_min_pixel_size}},
      sizeMaxPixels: {{text_max_pixel_size}},
      outlineWidth: {{text_outline_width}},
      outlineColor: {{text_outline_color}},
      getBackgroundColor: {{text_background_color}},
      getBackgroundPadding: [15, 15, 15, 15],
      background: true,
      characterSet: "auto",
      fontFamily: "{{font_family}}",
      fontWeight: {{font_weight}},
      lineHeight: {{line_spacing}},
      fontSettings: {"sdf": true},
      getTextAnchor: "middle",
      getAlignmentBaseline: "center",
      lineHeight: 0.95,
      elevation: 100,
      // CollideExtension options
      collisionEnabled: true,
      getCollisionPriority: d => d.size,
      collisionTestProps: {
        sizeScale: {{text_collision_size_scale}},
        sizeMaxPixels: {{text_max_pixel_size}} * 2,
        sizeMinPixels: {{text_min_pixel_size}} * 2
      },
      extensions: [new deck.CollisionFilterExtension()],
    });

    {% if cluster_boundary_polygons %}
    const boundaryLayer = new deck.PolygonLayer({
      data: labelData,
      stroked: true,
      filled: false,
      getLineColor: d => [d.r, d.g, d.b, d.a],
      getPolygon: d => d.polygon,
      lineWidthUnits: "common",
      getLineWidth: d => d.size * d.size,
      lineWidthScale: {{cluster_boundary_line_width}} * 5e-5,
      lineJointRounded: true,
      lineWidthMaxPixels: 4,
      lineWidthMinPixels: 0.0,
    });
    {% endif %}

    const deckgl = new deck.DeckGL({
      container: container,
      initialViewState: {
        latitude: {{data_center_y}},
        longitude: {{data_center_x}},
        zoom: {{zoom_level}}
      },
      controller: { scrollZoom: {speed: 0.01, smooth: true} },
      {% if cluster_boundary_polygons %}
      layers: [pointLayer, boundaryLayer, labelLayer],
      {% else %}
      layers: [pointLayer, labelLayer],
      {% endif %}
      {% if on_click %}
      onClick: {{on_click}},
      {% endif %}
      getTooltip: {{get_tooltip}}
    });

    document.getElementById("loading").style.display = "none";

    {% if search or enable_histogram or enable_lasso_selection %}
    function debounce(func, timeout = 250){
        let timer;
        return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => { func.apply(this, args); }, timeout);
        };
    }
    let updateTriggerCounter = 0;
    function selectPoints(itemId) {
      const selectedIndices = dataSelectionManager.getSelectedIndices();
      const semiSelectedIndices = dataSelectionManager.getBasicSelectedIndices();
      const hasSelectedIndices = selectedIndices.size !== 0;
      const hasSemiSelectedIndices = semiSelectedIndices.size !== 0;
      const hasLassoSelection = dataSelectionManager.hasSpecialSelection();

      // Update selected array
      if (hasLassoSelection) {
        if (hasSelectedIndices) {
          if (hasSemiSelectedIndices) {
            selected.fill(-1.0);
            for (let i of semiSelectedIndices) {
              selected[i] = 0.0;
            }
          } else {
            selected.fill(0.0);
          }
          for (let i of selectedIndices) {
            selected[i] = 1.0;
          }
        } else {
          selected.fill(1.0);
        }
      } else {
        if (hasSelectedIndices) {
          selected.fill(-1.0);
          for (let i of selectedIndices) {
            selected[i] = 1.0;
          }
        } else {
          selected.fill(1.0);
        }
      }
      // Increment update trigger
      updateTriggerCounter++;

      const updatedPointLayer = pointLayer.clone({
        data: {
          ...pointLayer.props.data,
          attributes: {
            ...pointLayer.props.data.attributes,
            getFilterValue: {value: selected, size: 1}
          }
        },
        updateTriggers: {
          getFilterValue: updateTriggerCounter
        }
      });

      deckgl.setProps({ layers: [updatedPointLayer].concat(deckgl.props.layers.slice(1,)) });

      // Update histogram, if any
      if (histogramItem && itemId !== histogramItemId) {
        if (hasSelectedIndices) {
            histogramItem.drawChartWithSelection(selectedIndices);
        } else {
            histogramItem.removeChartWithSelection(selectedIndices);
        }
      }
    }
    {% endif -%}

    {% if search %}
    /* Search */
    const textSearchArray = hoverData.{{search_field}}.map((d) => d.toLowerCase());
    searchItem.addEventListener("input", debounce(
        event => {
          const searchTerm = event.target.value.toLowerCase();
          const selectedIndices = textSearchArray.reduce((indices, d, i) => {
            if (d.indexOf(searchTerm) >= 0) {
              indices.push(i);
            }
            return indices;
          }, []);

          // Update data manager
          if (searchTerm !== "") {
            dataSelectionManager.addOrUpdateSelectedIndicesOfItem(selectedIndices, searchItemId);
          }
          else {
            dataSelectionManager.removeSelectedIndicesOfItem(searchItemId);
          }

          // Update datamap plot
          selectPoints(searchItemId);
        })
    );
    {% endif -%}

    {% if enable_histogram %}
    /*Histogram*/
    const chartSelectionCallback = chartSelectedIndices => {
      // Update data manager
      if (chartSelectedIndices === null) {
        dataSelectionManager.removeSelectedIndicesOfItem(histogramItemId);
      } else {
        dataSelectionManager.addOrUpdateSelectedIndicesOfItem(chartSelectedIndices, histogramItemId);
      }

      // Update datamap plot
      selectPoints(histogramItemId);
    };

    histogramItem = D3Histogram.create({
      data: hoverData["{{ histogram_data_attr }}"],
      chartContainerId: histogramItemId,
      {%- if histogram_width %}
      chartWidth: {{ histogram_width }},
      {%- endif %}
      {%- if histogram_height %}
      chartHeight: {{ histogram_height }},
      {%- endif %}
      {%- if histogram_bin_count %}
      binCount: {{ histogram_bin_count }},
      {%- endif %}
      {%- if histogram_title %}
      title: "{{ histogram_title }}",
      {%- endif %}
      {%- if histogram_bin_fill_color %}
      binDefaultFillColor: "{{ histogram_bin_fill_color }}",
      {%- endif %}
      {%- if histogram_bin_selected_fill_color %}
      binSelectedFillColor: "{{ histogram_bin_selected_fill_color }}",
      {%- endif %}
      {%- if histogram_bin_unselected_fill_color %}
      binUnselectedFillColor: "{{ histogram_bin_unselected_fill_color }}",
      {%- endif %}
      {%- if histogram_bin_context_fill_color %}
      binContextFillColor: "{{ histogram_bin_context_fill_color }}",
      {%- endif %}
      chartSelectionCallback
    });
    {% endif -%}
    {% if custom_js %}
    {{ custom_js }}
    {% endif -%}
    {%- if enable_lasso_selection %}
    /* Lasso Selection */
    const lassoSelector = new LassoSelectionTool(
      container, 
      deckgl, 
      dataSelectionManager, 
      selectionItemId, 
      selectPoints,
      lassoSelectionCallback
    );
    {% endif -%}
  </script>
</html>
